<h2>New Webpage</h2>
<%= form_for(@webpage) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>

  <%= f.submit %>

<% end %>
